<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shinvi.mall.dao.OrderDoMapper">
    <resultMap id="BaseResultMap" type="com.shinvi.mall.pojo.domain.OrderDo">
        <constructor>
            <idArg column="order_no" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="shipping_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="payment" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
            <arg column="payment_type" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="postage" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="payment_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="send_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="end_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="close_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
    <resultMap id="orderVo" type="com.shinvi.mall.pojo.vo.OrderVo">
        <result property="orderNo" column="order_no" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result property="payment" column="payment" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
        <result property="paymentType" column="payment_type" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="postage" column="postage" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="status" column="status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="paymentTime" column="payment_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="sendTime" column="send_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="closeTime" column="close_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <association property="shipping" javaType="com.shinvi.mall.pojo.domain.ShippingDo">
            <result property="id" column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <result property="receiverName" column="receiver_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <result column="receiver_phone" property="receiverPhone" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <result property="receiverMobile" column="receiver_mobile" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <result property="receiverProvince" column="receiver_province" javaType="java.lang.String"
                    jdbcType="VARCHAR"/>
            <result property="receiverCity" column="receiver_city" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <result property="receiverDistrict" column="receiver_district" javaType="java.lang.String"
                    jdbcType="VARCHAR"/>
            <result property="receiverAddress" column="receiver_address" javaType="java.lang.String"
                    jdbcType="VARCHAR"/>
            <result property="receiverZip" column="receiver_zip" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </association>
        <collection property="orderItems" ofType="com.shinvi.mall.pojo.domain.OrderItemDo">
            <result property="id" column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <result property="productId" column="product_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <result property="productName" column="product_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <result property="productMainImage" column="product_main_image" javaType="java.lang.String"
                    jdbcType="VARCHAR"/>
            <result property="currentUnitPrice" column="current_unit_price" javaType="java.math.BigDecimal"
                    jdbcType="DECIMAL"/>
            <result property="quantity" column="quantity" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <result property="totalPrice" column="total_price" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
        </collection>
    </resultMap>
    <select id="selectOrdersByConditions" parameterType="map" resultMap="orderVo">
        select
        o.order_no,o.payment,o.payment_type,o.postage,o.status,o.payment_time,o.send_time,o.end_time,o.close_time,
        s.id,s.receiver_name,s.receiver_phone,s.receiver_mobile,s.receiver_province,s.receiver_city,s.receiver_district,
        s.receiver_address,s.receiver_zip,oi.id,oi.product_id,oi.product_name,oi.product_main_image,oi.current_unit_price,
        oi.quantity,oi.total_price
        from (select
        <include refid="Base_Column_List"/>,update_time
        from mmall_order
        <where>
            <if test="status!=null">
                and status = #{status}
            </if>
            <if test="userId!=null">
                and user_id = #{userId}
            </if>
            <if test="orderNo!=null">
                and order_no = #{orderNo}
            </if>
        </where>
        ) o join mmall_order_item oi on
        o.order_no = oi.order_no
        join mmall_shipping s on o.shipping_id = s.id
        order by o.update_time desc
    </select>
    <sql id="Base_Column_List">
        order_no, user_id, shipping_id, payment, payment_type, postage, status, payment_time,
        send_time, end_time, close_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mmall_order
        where order_no = #{orderNo}
    </select>
    <select id="selectByUserIdNPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mmall_order where user_id = #{userId} and order_no = #{orderNo}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from mmall_order
        where order_no = #{orderNo}
    </delete>
    <insert id="insert" parameterType="com.shinvi.mall.pojo.domain.OrderDo">
        insert into mmall_order (order_no,
        user_id,
        shipping_id,
        payment,
        payment_type,
        postage,
        status,
        payment_time,
        send_time,
        end_time,
        close_time,
        create_time,
        update_time)
        values (#{orderNo,jdbcType=BIGINT},
        #{userId,jdbcType=INTEGER},
        #{shippingId,jdbcType=INTEGER},
        #{payment,jdbcType=DECIMAL},
        #{paymentType,jdbcType=INTEGER},
        #{postage,jdbcType=INTEGER},
        #{status,jdbcType=INTEGER},
        #{paymentTime,jdbcType=TIMESTAMP},
        #{sendTime,jdbcType=TIMESTAMP},
        #{endTime,jdbcType=TIMESTAMP},
        #{closeTime,jdbcType=TIMESTAMP},
        now(),
        now())

        <selectKey keyProperty="orderNo" order="AFTER" resultType="long">
            select last_insert_id()
        </selectKey>
    </insert>
    <insert id="insertSelective" parameterType="com.shinvi.mall.pojo.domain.OrderDo">
        insert into mmall_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="shippingId != null">
                shipping_id,
            </if>
            <if test="payment != null">
                payment,
            </if>
            <if test="paymentType != null">
                payment_type,
            </if>
            <if test="postage != null">
                postage,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="paymentTime != null">
                payment_time,
            </if>
            <if test="sendTime != null">
                send_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="closeTime != null">
                close_time,
            </if>
            create_time,
            update_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNo != null">
                #{orderNo,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="shippingId != null">
                #{shippingId,jdbcType=INTEGER},
            </if>
            <if test="payment != null">
                #{payment,jdbcType=DECIMAL},
            </if>
            <if test="paymentType != null">
                #{paymentType,jdbcType=INTEGER},
            </if>
            <if test="postage != null">
                #{postage,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="paymentTime != null">
                #{paymentTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sendTime != null">
                #{sendTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="closeTime != null">
                #{closeTime,jdbcType=TIMESTAMP},
            </if>
            now(),
            now(),
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.shinvi.mall.pojo.domain.OrderDo">
        update mmall_order
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="shippingId != null">
                shipping_id = #{shippingId,jdbcType=INTEGER},
            </if>
            <if test="payment != null">
                payment = #{payment,jdbcType=DECIMAL},
            </if>
            <if test="paymentType != null">
                payment_type = #{paymentType,jdbcType=INTEGER},
            </if>
            <if test="postage != null">
                postage = #{postage,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="paymentTime != null">
                payment_time = #{paymentTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sendTime != null">
                send_time = #{sendTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="closeTime != null">
                close_time = #{closeTime,jdbcType=TIMESTAMP},
            </if>
            update_time = now(),
        </set>
        where order_no = #{orderNo}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.shinvi.mall.pojo.domain.OrderDo">
        update mmall_order
        set user_id      = #{userId,jdbcType=INTEGER},
            shipping_id  = #{shippingId,jdbcType=INTEGER},
            payment      = #{payment,jdbcType=DECIMAL},
            payment_type = #{paymentType,jdbcType=INTEGER},
            postage      = #{postage,jdbcType=INTEGER},
            status       = #{status,jdbcType=INTEGER},
            payment_time = #{paymentTime,jdbcType=TIMESTAMP},
            send_time    = #{sendTime,jdbcType=TIMESTAMP},
            end_time     = #{endTime,jdbcType=TIMESTAMP},
            close_time   = #{closeTime,jdbcType=TIMESTAMP},
            update_time  = now()
        where order_no = #{orderNo}
    </update>
</mapper>